@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Sans+Carian&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Sans+Carian&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --bg-clr: #7ba887;
    --in-txt: #595e5a;
    --border: #8a7476;
    --b-clr: #f50723;
    --s-clr: #010452;

    --ff: "Merriweather Sans", serif;
    --ff-i: "Arima", serif;

    --spacer-0: 0 1rem;
    --spacer-x: 0.85rem;
    --spacer-m: 2.5rem;
    --spacer-lg: 4rem;
    --spacer-xl: 12.5rem;

    --br: 4px;

    --df: flex;
}

#body {
    width: 100%;
    height: 100Vh;
    background-color: var(--bg-clr);
    display: var(--df);
    flex-direction: column;
    gap: var(--spacer-x);
    padding: var(--spacer-0);
    /* font-family: url(/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf); */
}
p{
    font-family: var(--ff);
    font-size: var(--spacer-m);
    margin-top: 5px;
}

.task-container {
    width: 100%;
    height: fit-content;
    /* background: red; */
    display: var(--df);
    gap: var(--spacer-lg);
    flex-wrap: wrap;
}
.desc-container, .selectbar-container, .date-container {
    display: flex;
    align-items: center;
    gap: var(--spacer-x);
}
input, .drop-down, #desc {
    width: 300px;
    height: 40px;
    border-radius: var(--br);
    font-family: var(--ff-i);
    font-size: var(--spacer-0);
    color: var(--in-txt);
    padding: var(--spacer-0);
    border: none;
}
#desc {
    padding-top: .55rem;
}
label {
    font-family: var(--ff);
}

#task-list > table {
    width: 100%;    
}

#task-list tr, #task-list th {
    border: 1px solid #333;
    margin:0;
    padding: 5px;
}
#btn {
    width: 90px;
    height: auto;
    padding: 3px 5px;
    background-color: var(--b-clr);
    font-weight: bold;
    border-radius: var(--br);
    color: var(--s-clr);
    border: none;
    cursor: pointer;
}
.task-history{
    display: inline-flex;
    gap: var(--spacer-x);
}
.complete-btn, .incomplete-btn {
    max-width: 200px;
    background-color: var(--s-clr);
    color: #ffff;
    cursor: pointer;
}
.task-btn {
    display: var(--df);
    flex-direction: column;
    gap: var(--spacer-x);
}
.task-btn1, .task-btn2 {
    display: block;
    max-width: 150px;
    color: var(--s-clr);
    cursor: pointer;
}
.newStyle, td {
    border: 1px solid #333;
    margin:0;
    padding: 5px;
    text-align: center;
}
.edit {
    background-color: #1eb4fe;
    padding: 10px;
    border: none;
    border-radius: 3px;
   
}
.edit:hover, .remove:hover, .complete:hover {
    transition: 1s ease-in;
}
.remove {
    background-color: #1efed9;
    padding: 10px;
    border: none;
    border-radius: 3px;
}
.complete {
    background-color: #62d530;
    padding: 10px;
    border: none;
    border-radius: 3px;
}